<section id="cursos">
  <h2>Lista de Cursos</h2>
  <div id="listacursos">
    <ul>
      <li *ngFor="let curso of cursos; let i = index">
        <strong>{{ curso.nombre }}</strong><br>
        <button (click)="mostrarDetalles(i)">Ver más detalles</button>
        <button (click)="eliminarCurso(i)" class="eliminar">x</button>
        <div class="detalles">
          <p><strong>Docente:</strong> {{ curso.docente }}</p>
          <p><strong>Fecha de Inicio:</strong> {{ curso.fecha }}</p>
          <p><strong>Duración:</strong> {{ curso.duracion }} semanas</p>
          <p>{{ curso.descripcion }}</p>
        </div>
      </li>
    </ul>
  </div>
</section>
