<section id="inicio">
    <h2>Bienvenido a los Cursos</h2>
    <p>Bienvenido te brindaremos un acceso a una amplia variedad de cursos que te ayudarán a expandir tus conocimientos
        y habilidades. Ya seas un estudiante entusiasta, un profesional en busca de nuevos aprendizajes, o simplemente
        alguien curioso por adquirir nuevas competencias, ¡tenemos algo para ti!

        Navega a través de nuestra lista de cursos, descubre lo que ofrecemos, y no dudes en agregar nuevos cursos que
        desees. Nuestro objetivo es facilitar tu proceso de aprendizaje y hacer que tu experiencia sea lo más
        enriquecedora posible.

        ¡Comienza tu viaje educativo con nosotros hoy mismo!</p>
</section>